.header{
    border-bottom: solid var(--main-text) 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem .75rem;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--main-background);
}

.left-header{
    font-size: 1.75rem;
    font-weight: 1000;
    color: var(--main-text);
    display: flex;
    align-items: center;
    white-space: nowrap;
    flex-shrink: 0;
}


.left-header .header-link{
    padding: 0.5rem 1.5rem;
}

.menu-toggle, .mode-toggle{
    display: flex;
    align-items: center;
    align-content: center;
    border: none;
    background-color: var(--main-background);
    color: var(--main-text);
    font-size: 2rem;
    padding: .5rem;
    cursor: pointer;
}

.menu-toggle{
    background-color: var(--main-accent);
    clip-path: var(--slanted-shape);
}

.nav-open{

}

.nav{
    display: none;
}

@media(min-width: 800px){
    .left-header{
        font-size: 2.5rem;
    }
    
    .menu-toggle{
        display:none;
    }

    .nav{
        display: flex;
        flex-direction: row;
        position: static;
        width: auto;
        background-color: var(--main-background);
        padding: 0;
        border-bottom: none;
    }

    .header{
        gap: 1rem;
    }
}

.nav.nav-open{
    display: flex;
    align-items: stretch;
    flex-direction: column;
    gap: 0;
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
    background-color: var(--main-background);
    padding: 0 0;
    border-bottom: solid black 4px;
    z-index: 10;
}

.right-header{
    color: var(--main-text);
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    margin-left: auto;
}

.header-link{
    cursor: pointer;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    color: var(--main-text);
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: var(--slanted-shape);
}

.header-link:hover{
    background-color: var(--link-hover);
}

.header-link:active{
    background-color: var(--link-active);
}

.contact{
    background-color: var(--main-accent);
    color: var(--main-text);
    font-weight: 700;
    clip-path: var(--slanted-shape);
}

.contact:hover{
    background-color: var(--accent-hover);
}

.contact:active{
    background-color: var(--accent-active);
}

.header-buttons{
    display: flex;
    align-items: center;
    gap: .5rem;
}