.header{
    border-bottom: solid black 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem .75rem;
    position: relative;
    background-color: var(--main-background);
}

.left-header{
    font-size: 2rem;
    font-weight: 1000;
    color: var(--main-text)
}

.menu-toggle{
    display: flex;
    align-items: center;
    align-content: center;
    border: none;
    background-color: var(--main-background);
    font-size: 2rem;
    padding: .25rem;
    cursor: pointer;
}

.nav-open{

}

.nav{
    display: none;
}

@media(min-width: 800px){
    .menu-toggle{
        display:none;
    }

    .nav{
        display: flex;
        flex-direction: row;
        position: static;
        width: auto;
        background-color: var(--main-background);
        padding: 0;
        border-bottom: none;
    }
}

.nav.nav-open{
    display: flex;
    align-items: stretch;
    flex-direction: column;
    gap: 0;
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
    background-color: var(--main-background);
    padding: 0 0;
    border-bottom: solid black 4px;
    z-index: 10;
}

.right-header{
    color: var(--main-text);
    font-size: 1rem;
    font-weight: 600;
}

.header-link{
    cursor: pointer;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    color: var(--main-text)
}

.header-link:hover{
    background-color: var(--link-hover);
}

.header-link:active{
    background-color: var(--link-active);
}

.contact{
    background-color: var(--main-accent);
    color: var(--main-background);
    font-weight: 700;
    clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);    
}