.footer{
    background-color: var(--main-accent);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
}

.footer-text{
    color: var(--main-background);
    font-size: .9rem;
    font-weight: 500;
}

@media(min-width: 600px){
    .footer{
        padding-inline: var(--section-inset);
    }
}
