/*
<element shape>: Use a value from 0 to 100
<uniquifier>: Use a unique and descriptive class name
*/
.geist-pixel-main {
  font-family: "Geist Pixel", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "ELSH" 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Geist Pixel", sans-serif;
}


/* default light mode */
:root{
    --main-background: #ffffff;
    --main-card: #ebebeb;
    --main-text: #000000;
    --secondary-text: #4d4d4d;
    --main-accent: #1e9e45;

    --link-hover: #dcdcdc;
    --link-active: #cecece;

}

[data-theme = 'dark']{
    --main-background: #000000;
    --main-card: #1a1a1a;
    --main-text: #ffffff;
    --secondary-text: #b3b3b3;
    --main-accent: #1e9e45;
}


p{
    color: var(--main-text);
}